<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    (%template "logo.html"%)
                    <v-col>
                        <ul>
                            (%range $key, $value := .Servers%)
                            <li>
                                (%if $value.Up%)
                                <p> (%$key%) - Server Up</p>
                                (%else%)
                                <p>(%$key%) - Server Down</p>
                                (%end%)
                            </li>
                            (%end%)
                        </ul>
                        <h2 class="text-center">
                            <u>Server Logs</u>
                        </h2>
                    </v-col>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({

            }),
            methods: {

            }
        })
    </script>
</body>

</html>