<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    (%template "logo.html"%)
                    <v-form method="POST" action="/signin">
                        <v-row justify="center">
                            <v-col cols="4">
                                <v-text-field v-model="name" :rules="nameRules" name="username" placeholder="Username"
                                    required></v-text-field>

                                <v-text-field v-model="password" placeholder="Password"
                                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                    :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'"
                                    name="password" counter @click:append="show1 = !show1"></v-text-field>
                                (%if .Errors%)
                                <v-alert> dense outlined type="error">
                                    <strong>No Input To Text Field </strong>
                                </v-alert>
                                (%end%)

                            </v-col>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-btn outlined type="Submit" :disabled="buttonDisabled">Sign In</v-btn>
                            <v-spacer></v-spacer>
                        </v-row>
                    </v-form>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),

            data: () => ({
                buttonDisabled: false,
                noInput: false,
                form: true,

                name: "",
                nameRules: [v => !!v || "Name is required"],
                password: "",
                show1: false,
                rules: {
                    required: value => !!value || "Required.",
                }
            }),
            methods: {
                Submit() {
                    if (this.name === "" || this.password === "") {
                        this.noInput = true
                        return
                    }

                    this.buttonDisabled = true
                    nativeForm.submit()
                }
            }
        })
    </script>
</body>

</html>