<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <v-form method="POST" action="/signin">
                        <v-row justify="center">
                            <v-col cols="4">
                                <v-text-field v-model="name" :rules="nameRules" id="username" placeholder="Username"
                                    required></v-text-field>

                                <v-text-field v-model="password" placeholder="Password"
                                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                    :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'"
                                    id="password" counter @click:append="show1 = !show1"></v-text-field>

                                <v-alert v-if="wrongDetails" dense outlined type="error">
                                    <strong>Invalid login credential, please try again.</strong>
                                </v-alert>
                                <v-alert v-if="internalError" dense outlined type="error">
                                    <strong>Internal error</strong>
                                </v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-btn outlined v-on:click="attemptLogin" :disabled="buttonDisabled">Sign In</v-btn>
                            <v-spacer></v-spacer>
                        </v-row>
                    </v-form>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
                info: null,
                wrongDetails: false,
                internalError: false,
                buttonDisabled: false,

                name: "",
                nameRules: [v => !!v || "Name is required"],
                email: "",
                emailRules: [
                    v => !!v || "E-mail is required",
                    v => /.+@.+\..+/.test(v) || "E-mail must be valid"
                ],
                password: "",
                show1: false,
                rules: {
                    required: value => !!value || "Required.",
                    emailMatch: () => "The email and password you entered don't match"
                }
            }),
            methods: {
                validate() {
                    if (this.$refs.form.validate()) {
                        this.snackbar = true;
                    }
                },
                reset() {
                    this.$refs.form.reset();
                },
                resetValidation() {
                    this.$refs.form.resetValidation();
                },
            }
        })
    </script>
</body>

</html>